{#{% block title %}Ajout d'un lieu{% endblock %}#}

{% block body %}
    <div id="create_lieu"></div>
{{ form_start(lieuForm,{'attr':{'id': 'lieu_form'},'action': path('lieu_ajoutlieu') })}}
{{ form_row(lieuForm.nom)}}
{{ form_row(lieuForm.rue)}}
{{ form_row(lieuForm.longitude)}}
{{ form_row(lieuForm.latitude)}}
{{ form_row(lieuForm.ville)}}
    <button id="btnAj" hidden="hidden">Ajouter ce lieu</button>
{{ form_end(lieuForm)}}
{% endblock %}
