
{% block body %}
    <div class="form">
        <div class="row">
            <div class="col-lg-8">
                {{ form_start(form, { attr: { 'accept-charset' : 'utf-8' }, 'action': path('app_test_upload') } ) }}
                <div>
                    {{ form_label(form.upload_file) }}
                    {{ form_widget(form.upload_file, {'label': "Télécharger un fichier csv"}) }}
                    {{ form_errors(form.upload_file) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.send, {'label': "Télécharger un fichier csv"}) }}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}