{% extends 'base.html.twig' %}

{% block body %}

    <div class="useradmin">
        <form method="post" action="#" class="form">
            {{ form_start(registrationForm) }}
            <h1 class="title">Inscrire un utilisateur</h1>
            <div class="flex">
                <label>
            {{ form_row(registrationForm.nom) }}
                </label>
                <label>
            {{ form_row(registrationForm.prenom) }}
                </label>
                <label>
            {{ form_row(registrationForm.pseudo) }}
                </label>
            </div>
            <label>

            {{ form_row(registrationForm.email) }}
            </label>
            <label>
            {{ form_row(registrationForm.telephone) }}
            </label>
            <label>
            {{ form_row(registrationForm.campus) }}
            </label>
            <label>
            {{ form_row(registrationForm.plainPassword.first) }}
            </label>
            <label>
            {{ form_row(registrationForm.plainPassword.second) }}
            </label>
            <label>
                {{ form_widget(registrationForm.imageFile) }}
            </label>

            <div class="flex">
                <button type="submit" class="submit">Valider l'inscription</button>
                {{ form_end(registrationForm) }}
                <a href="{{ path('admin_accueil') }}">
                    <button class="submit">Retour</button>
                </a>
            </div>
        </form>
            <label class="formuseradmin">
                {{render(controller('App\\Controller\\UploadController::excelCommunesAction')) }}
            </label>
    </div>


             <table>
                 <thead>
                     <tr>
                         <th scope="col">Nom</th>
                         <th scope="col">Prénom</th>
                         <th scope="col">Pseudo</th>
                         <th scope="col">Email</th>
                         <th scope="col">Telephone</th>
                         <th scope="col">Campus</th>
                         <th scope="col">Statut</th>
                         <th scope="col">Administrateur</th>
                         <th scope="col">Action</th>
                     </tr>
                 </thead>
                 <tbody>
                 {% for participant in participants %}
                     <tr>
                         <td>{{ participant.nom }}</td>
                         <td>{{ participant.prenom }}</td>
                         <td>{{ participant.pseudo }}</td>
                         <td>{{ participant.email }}</td>
                         <td>{{ participant.telephone }}</td>
                         <td>{{ participant.campus.nom }}</td>
                         <td>{% if participant.actif == 1 %}
                             Actif
                             {% endif %}
                             {% if participant.actif == 0 %}
                                 Inactif
                             {% endif %}
                         </td>
                         <td>{% if participant.administrateur == 1 %}
                                 X
                             {% endif %}
                         </td>
                         <td>{% if participant.actif == 1 %}
                                     <a href="{{path('admin_statut', {'participant' : participant.id}) }}">Désactiver le compte</a>
                             {% else %}
                                     <a href="{{path('admin_statut', {'participant' : participant.id}) }}">Activer le compte</a>
                             {% endif %}
                         <a href="{{path('admin_supprimer', {'participant' : participant.id}) }}">Supprimer le compte</a>

                         </td>
                     </tr>
                 {% endfor %}
                 <a href="{{path('app_test_upload')}}">Importer un fichier</a>
                 </tbody>
             </table>

{#    <h2 class="title">Nos sorties</h2>#}
{#    <div class="liste_sorties">#}
{#        {% for sortie in sorties %}#}
{#            <a href="{{ path('sortie_affichersortie', {'sortie' : sortie.id}) }}">#}
{#                <div class="carousel-item">#}
{#                    <img#}
{#                            class="carousel-item__img"#}
{#                            src="https://images.pexels.com/photos/708392/pexels-photo-708392.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"#}
{#                            alt="people"#}
{#                    />#}
{#                    <div class="carousel-item__details">#}

{#                        <div class="controls">     </div>#}
{#                        <h5 class="carousel-item__details--title">{{ sortie.nom }}</h5>#}
{#                        <h6 class="carousel-item__details--subtitle"><a href="{{ path('participant_afficherprofil',{'id':sortie.organisateur.id}) }}">Organisateur(rice) : {{ sortie.organisateur.pseudo }}</a></h6>#}
{#                        <h6 class="carousel-item__details--subtitle">Le {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</h6>#}
{#                        <h6 class="carousel-item__details--subtitle">Clotûre inscription le {{ sortie.dateLimiteInscription | date('d/m/Y H:i') }}</h6>#}
{#                        <h6 class="carousel-item__details--subtitle">Inscrits/Places : {{ sortie.participants | length }} /{{ sortie.nbInscriptionsMax }}</h6>#}
{#                        <h6 class="carousel-item__details--subtitle">Etat : {{ sortie.etat.libelle }}</h6>#}


{#                    </div>#}
{#                </div></a>#}
{#
{#        {% endfor %}#}
    </div>
{% endblock %}

