{% extends 'base.html.twig' %}

{% block body %}



    <div class="useradmin">
                <div class="form">
                    {{ form_start(formFilterVille) }}
                    <p class="title">Filtrer par villes</p>

                    <label class="flex">
                    {{ form_widget(formFilterVille.keyWord) }}
                    </label>
                    <div class="flex">
                        <button type="submit" class="submit">Rechercher</button>
                    </div>
                    {{ form_end(formFilterVille) }}
                </div>


        <div class="form" id="create_ville_admin" >
                <p class="title" id="title_admin">Ajouter une ville :</p>
              <div id="div_ville_admin">
                    <label>
                        <input type="text" role="combobox" id="rechercherVille" placeholder="Rechercher une ville" onkeyup="rechercherVille()"
                               aria-controls="listeVille" aria-expanded="false" aria-autocomplete="list" class="input2">
                    </label>

                    <label>
                        <select id="listeVille" role="listbox" class="input3">
                            <option value="">Sélectionnez la ville correspondante à votre recherche</option>
                        </select>
                        <br>
                        <br>
                    </label>
                    <div class="flex"> <button type="submit" class="submit">Ajouter cette ville</button></div>
              </div>
          </div>


        {{ form_start(villeForm,{'attr':{'id': 'ville_form'},'action': path('ville_ajoutville') }) }}

         <div class="flex">

                <label>
                    {{ form_row(villeForm.nom,{'attr':{'hidden':true}}) }}
                    {{ form_row(villeForm.codePostal,{'attr':{'hidden':true}}) }}
                </label>
         </div>

            <div class="flex">
                {#<button type="submit" class="submit">Ajouter</button>#}
                {{ form_end(villeForm) }}
            </div>
    </div>


    <table class="tableVille">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <div class="submit"><a class="lienadmin" href="{{path('admin_modifierVille', {'ville' : ville.id}) }}">Modifier</a></div>
                    <div class="submit"><a class="lienadmin" href="{{path('admin_suppressionVille', {'ville' : ville.id}) }}">Supprimer</a></div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <script src="{{ asset('script/rechercher_lieu_api.js') }}"></script>
{% endblock %}


