{% extends 'base.html.twig' %}
{% block title %}Profil de {{ participant.pseudo }}{% endblock %}
{% block body %}
<h1>Profil de {{ participant.pseudo}}</h1>
<div class="container">
    <ul>
        <li>Prénom :{{ participant.prenom}}</li>
        <li>Nom : {{ participant.nom }}</li>
        <li>Téléphone: {{ participant.telephone }}</li>
        <li>E-mail : {{ participant.email }}</li>
        <li>Campus : {{ participant.campus.nom }}</li>
    </ul>

    <a href="{{ path('sortie_liste') }}"><button>Retour</button></a>
</div>


{% endblock %}



