{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
{#    <div class="container">#}
{#        <span>#}
{#        <img src="" alt="photo">#}
{#        </span>#}
{#{{ form_start(participantForm) }}#}
{#        {{ form_widget(participantForm) }}#}
{#    <button class="btn btn-md btn-primary">Modifier</button>#}
{#{{ form_end(participantForm) }}#}
{#    </div>#}


<form method="post" class="form" action="#">

    {{ form_start(participantForm) }}

    <label>
        {{ form_row(participantForm.nom) }}
    </label>
    <label>
        {{ form_row(participantForm.prenom) }}
    </label>
    <label>
        {{ form_row(participantForm.pseudo) }}
    </label>
    <label>
        {{ form_row(participantForm.email) }}
    </label>
    <label>
        {{ form_row(participantForm.telephone) }}
    </label>
    <label>
        {{ form_row(participantForm.plainPassword) }}
    </label>
    <label>
{#        {{ form_row(participantForm.plainPassword.second) }}#}
    </label>
    
    <div>
        <img src="{{ vich_uploader_asset(profil_images, 'imagefile') }}">
    </div>


    <div class="flex">
        <a href="{{ path('sortie_liste') }}">
            <button type="submit" class="submit">Modifier</button>
        </a>

    </div>
    {{ form_end(participantForm) }}
</form>
    <a href="{{ path('sortie_liste') }}"><button class="submit">Retour</button></a>
{% endblock %}



