{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
{#    <div class="container">#}
{#        <span>#}
{#        <img src="" alt="photo">#}
{#        </span>#}
{#{{ form_start(participantForm) }}#}
{#        {{ form_widget(participantForm) }}#}
{#    <button class="btn btn-md btn-primary">Modifier</button>#}
{#{{ form_end(participantForm) }}#}
{#    </div>#}


<form method="post" class="form" action="#" enctype="multipart/form-data">

    {{ form_start(participantForm) }}

    <label>
        {{ form_row(participantForm.nom) }}
    </label>
    <label>
        {{ form_row(participantForm.prenom) }}
    </label>
    <label>
        {{ form_row(participantForm.pseudo) }}
    </label>
    <label>
        {{ form_row(participantForm.email) }}
    </label>
    <label>
        {{ form_row(participantForm.telephone) }}
    </label>
    <div id="image" style="max-width: 500px">
        {{ form_row(participantForm.imageFile) }}
    </div>

    <label>
        {{ form_row(participantForm.plainPassword) }}
    </label>

{#    <label>#}
{#       {{ form_row(participantForm.plainPassword.second) }}#}
{#    </label>#}

    <div class="flex">
        <a href="{{ path('sortie_liste') }}">
            <button type="submit" class="submit">Modifier</button>
        </a>
        <a href="{{ path('sortie_liste') }}"><button type="button" class="submit">Retour</button></a>
    </div>
    {{ form_end(participantForm) }}
</form>
{% endblock %}



