{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <form method="post" class="form" action="#" enctype="multipart/form-data">
        {{ form_start(registrationForm) }}
        <p class="title">Inscription</p>
        <p class="message">Dépechez-vous de vous inscire ! </p>
        <div class="flex">

            <label>
                {{ form_row(registrationForm.nom) }}
            </label>
            <label>
                {{ form_row(registrationForm.prenom) }}
            </label>
            <label>
                {{ form_row(registrationForm.pseudo) }}
            </label>
        </div>
        <label>
            {{ form_row(registrationForm.email) }}
        </label>
        <label>
            {{ form_row(registrationForm.telephone) }}
        </label>
        <label>
            {{ form_row(registrationForm.campus) }}
        </label>
        <label>
            {{ form_row(registrationForm.plainPassword.first) }}
        </label>
        <label>
            {{ form_row(registrationForm.plainPassword.second) }}
        </label>
        <label>
            {{ form_widget(registrationForm.imageFile) }}
        </label>
        <div class="flex">

            <a href="{{ path('sortie_liste') }}">
                <button type="submit" class="submit">Submit</button>
            </a>
            {{ form_end(registrationForm) }}


            <a href="{{ path('main_accueil') }}">
                <button type="button" class="submit">Retour</button>
            </a>
        </div>
        <p class="signin">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
    </form>


{% endblock %}

