{% extends 'base.html.twig' %}

 {% block body %}

     {% if app.user %}


     <h2>Filtrer les sorties</h2>
     <div class="scroller">
         <table>
     <thead>
     <tr>
         <th scope="col">Nom de sortie</th>
         <th scope="col">Date de la sortie</th>
         <th scope="col">Date de clotûre</th>
         <th scope="col">Inscrits/places</th>
         <th scope="col">Etat</th>
         <th scope="col">Inscrit</th>
         <th scope="col">Organisateur</th>
         <th scope="col">Actions</th>
     </tr>
     </thead>
    <tbody>

     {% for sortie in sorties %}
         <tr>
             <td>{{ sortie.nom }}</td>
             <td>{{ sortie.dateHeureDebut | date('m/d/Y H:i') }}</td>
             <td>{{ sortie.dateLimiteInscription | date('m/d/Y H:i') }}</td>
             <td> {{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax }} </td>
             <td>{{ sortie.etat.libelle }}</td>
             <td>
                 {% if not sortie.participants.contains(app.user) %}
                     X
                 {% endif %}
             </td>
             <td><a href="{{ path('participant_afficherprofil',{'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></td>
             <td>
                 <a href="{{path('sortie_liste', {'sortie' : sortie.id}) }}">Afficher</a>
                 <a href="{{path('sortie_liste', {'sortie' : sortie.id}) }}">Se désister</a>
                 <a href="{{path('sortie_liste', {'sortie' : sortie.id}) }}">S'inscrire</a>
             </td>
         </tr>
     {% endfor %}
         </tbody>
         </table>
     </div>
         <a href="{{path('sortie_ajouter') }}"><button>Créer une sortie</button></a>
     {% endif %}

     {% if not app.user %}
         <h1>Bienvenu !!</h1>
     {% endif %}
 {% endblock %}