{% extends 'base.html.twig' %}

 {% block body %}

     {% if app.user %}

<body>
         <div class="form2">
             {{ form_start(form) }}
             <p class="title">Filtrer vos recherches</p>

                 <label class="flex">
                     {{ form_widget(form.keyWord) }}

                     {{ form_widget(form.campus) }}
                     <label>
                         {{ form_widget(form.dateDebut) }}
                         {{ form_widget(form.dateFin) }}
                     </label>
                     <br>
                     <label class="flex">
                         {{ form_widget(form.organisateurSorties) }}
                         {{ form_widget(form.inscritSorties) }}

                         {{ form_widget(form.nonInscritSorties) }}
                         {{ form_widget(form.sortiesPassees) }}
                     </label>
                 </label>
             <br>

             <div class="flex">
                 <button type="submit" class="submit">Rechercher</button>
             </div>

             {{ form_end(form) }}
         </div>
</body>


         <h2 class="title">Nos sorties</h2>
             {% for sortie in sorties %}
                 <a href="{{ path('sortie_affichersortie', {'id' : sortie.id}) }}">
                 <div class="carousel-item">
                     <img
                             class="carousel-item__img"
                             src="https://images.pexels.com/photos/708392/pexels-photo-708392.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="people"
                     />
                     <div class="carousel-item__details">

                         <div class="controls">     </div>
                         <h5 class="carousel-item__details--title">{{ sortie.nom }}</h5>
                         <h6 class="carousel-item__details--subtitle">Le {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</h6>

                     </div>
                 </div></a>

             {% endfor %}
     {% endif %}

     {% if not app.user %}
         <h1>Bienvenue sur les sorties enitiennes.com !!</h1>
     {% endif %}
     <div class="background"></div>
     <div class="background-texture"></div>


 {% endblock %}