{% extends 'base.html.twig' %}

 {% block body %}

     {% if app.user %}

<body>
         <div class="form2">
             {{ form_start(formFilterSortie) }}
             <p class="title">Filtrer vos sorties</p>

                 <label class="flex">
                     {{ form_widget(formFilterSortie.keyWord) }}

                     {{ form_widget(formFilterSortie.campus) }}
                     <label>
                         {{ form_widget(formFilterSortie.dateDebut) }}
                         {{ form_widget(formFilterSortie.dateFin) }}
                     </label>
                     <br>
                     <label class="flex">
                         {{ form_widget(formFilterSortie.organisateurSorties) }}
                         {{ form_widget(formFilterSortie.inscritSorties) }}

                         {{ form_widget(formFilterSortie.nonInscritSorties) }}
                         {{ form_widget(formFilterSortie.sortiesPassees) }}
                     </label>
                 </label>

             <div class="flex">
                 <button type="submit" class="submit">Filtrer</button>
                 <a href="{{ path('sortie_liste') }}"><button type="button" class="submit">Rafraichir</button></a>
             </div>
             <br>

             {{ form_end(formFilterSortie) }}
         </div>
</body>


         <h2 class="title">Nos sorties</h2>
         <div class="liste_sorties">
             {% for sortie in sorties %}
                 <a href="{{ path('sortie_affichersortie', {'sortie' : sortie.id}) }}">
{#                     {% if sortie.participants.contains(app.user) %}#}
                 <div id="legend"
                     {% if sortie.organisateur.id == app.user.id  %}
                         class="organisateur"
                    {% elseif sortie.participants.contains(app.user)  %}
                        class="inscrit"
                    {% else %}
                        class="carousel-item"
                     {% endif %}
                 >
                     <img
                             class="carousel-item__img"
                             {% if sortie.nomImageSortie != null %}
                                 src="{{ asset('img/profil/'~sortie.nomImageSortie) }}"
                             {% else %}
                                 src="https://images.pexels.com/photos/708392/pexels-photo-708392.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             {% endif %}
                             alt="image_sortie"
                     />
                         <div class="carousel-item__details">

                             <div class="controls">     </div>
                             <h5 class="carousel-item__details--title">{{ sortie.nom| upper }}</h5>
                             <h6 class="carousel-item__details--subtitle"><a href="{{ path('participant_afficherprofil',{'id':sortie.organisateur.id}) }}" style="color:white;">Organisateur(rice) : {{ sortie.organisateur.pseudo }}</a></h6>
                             <h6 class="carousel-item__details--subtitle">Le {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</h6>
                             <h6 class="carousel-item__details--subtitle">Clotûre inscription le {{ sortie.dateLimiteInscription | date('d/m/Y H:i') }}</h6>
                             <h6 class="carousel-item__details--subtitle">Inscrits/Places : {{ sortie.participants | length }} /{{ sortie.nbInscriptionsMax }}</h6>
                             <h6 class="carousel-item__details--subtitle">Etat : {{ sortie.etat.libelle }}</h6>
                         </div>
                 </div>

             {% endfor %}
         </div>
     {% endif %}

     {% if not app.user %}
         <h1>Bienvenue sur les sorties ENItiennes.com !!</h1>
         <div class="flex">
             <img src="{{ asset('img/logoSortie2.png') }}" alt="logo" height="200" width="200">
         </div>
     {% endif %}
     <div class="background"></div>
     <div class="background-texture"></div>

 {% endblock %}
