{% extends 'base.html.twig' %}
{% block title %}Détails de la sortie{% endblock %}


{% block body %}
    <main>
        <div class="card">
            <div class="card-details">
                <br>
                <p class="title" id="title_sortie">{{ sortie.nom | upper }}</p>
                <br>
                {% if sortie.etat.id <= constant('App\\Controller\\SortieController::CLOTUREE') %}
                    <p class="text-body-actif">Date et heure de début : {{ sortie.DateHeureDebut | date ("d/m/Y H:m") }}</p>
                    <p class="text-body-actif">Date limite d'inscription
                        : {{ sortie.DateLimiteInscription | date ("d/m/Y H:m") }}</p>
                    <p class="text-body-actif">Nombre max de participants: {{ sortie.NbInscriptionsMax }}</p>
                    <p class="text-body-actif">Durée : {{ sortie.duree }}</p>
                    <p class="text-body-actif">Description : {{ sortie.InfosSortie }}</p>
                    <p class="text-body-actif">Campus : {{ sortie.campus.nom }}</p>
                    <p class="text-body-actif">Lieu : {{ sortie.lieu.nom }}</p>
                    <p class="text-body-actif">Adresse : {{ sortie.lieu.rue }} {{ sortie.lieu.ville.nom }} {{ sortie.lieu.ville.codePostal }}</p>
                    <p class="text-body-actif"></p>
                    <br>
                {% else %}
                    <p class="text-body">Date et heure de début : {{ sortie.DateHeureDebut | date ("d/m/Y H:m") }}</p>
                    <p class="text-body">Date limite d'inscription
                        : {{ sortie.DateLimiteInscription | date ("d/m/Y H:m") }}</p>
                    <p class="text-body">Nombre max de participants: {{ sortie.NbInscriptionsMax }}</p>
                    <p class="text-body">Durée : {{ sortie.duree }}</p>
                    <p class="text-body">Descriptions : {{ sortie.InfosSortie }}</p>
                    <p class="text-body">Campus : {{ sortie.campus.nom }}</p>
                    <p class="text-body">Lieu :{{ sortie.lieu.nom }}</p>
                    <p class="text-body">Adresse : {{ sortie.lieu.rue }} {{ sortie.lieu.ville.nom }} {{ sortie.lieu.ville.codePostal }}</p>
                    <p class="text-body"></p>
                    <br>
                {% endif %}
            </div>
            {#        <a href="{{path('sortie_inscription', {'sortie' : sortie.id}) }}"> #}
            {#        <button class="card-button">S'inscrire</button> #}
            {#        </a> #}
            <div class="flex">
                {% if sortie.organisateur == app.user and sortie.etat.id == constant('App\\Controller\\SortieController::CREEE') %}

                    <a href="{{ path('sortie_modifiersortie',{'sortie' : sortie.id}) }}">
                        <button class="submit">Modifier la sortie</button>
                    </a>
                {% endif %}

                {% if sortie.etat.id == constant('App\\Controller\\SortieController::OUVERTE') and date() < date(sortie.dateLimiteInscription) 
                                and sortie.participants | length < sortie.nbInscriptionsMax %}
                    {% if sortie.participants.contains(app.user) %}
                        <a href="{{ path('sortie_desistement', {'sortie' : sortie.id}) }}"><button class="submit">Se désister</button></a>
                    {% else %}
                        <a href="{{ path('sortie_inscription', {'sortie' : sortie.id}) }}"><button class="submit">S'inscrire</button>
                    {% endif %}
                    </a>
                {% endif %}

                {% if sortie.organisateur == app.user and (sortie.etat.id == constant('App\\Controller\\SortieController::OUVERTE') 
                                                          or sortie.etat.id == constant('App\\Controller\\SortieController::CLOTUREE')) %}
                    {#        ajouter pour uniquement organisateur #}
                    <a href="{{ path('sortie_annulersortie',{'sortie' : sortie.id}) }}">
                        <button class="submit">Annuler la sortie</button>
                    </a>
                {% endif %}

                <a href="{{ path('sortie_liste') }}">
                    <button class="submit">Retour</button>
                </a>
            </div>
        </div>
    </main>



    {% if sortie.etat.id != constant('App\\Controller\\SortieController::CREEE') %}
        <br>

        <h3 id="title_participants">Liste des participants</h3><br>
<section class="overflow-x">
    <div class="horizontal-friends-list">
        {% for participant in sortie.participants %}
            <div class="horizontal-friends-list">
                <figure>
                    <picture>
                        <img src={{ asset('/img/profil/'~participant.imageName) }}>
                    </picture>
                    <a href="{{ path('participant_afficherprofil', {'id': participant.id}) }}">
                        <figcaption>{{ participant.pseudo }}</figcaption>
                    </a>
                </figure>
            </div>
            {% else %}
            Absence de participants
        {% endfor %}
    </div>
</section>

    {% endif %}


{% endblock %}


