{% extends 'base.html.twig' %}

{% block body %}
    <p>Nom de la sortie : {{ sortie.nom }}</p>
    <p>Date et heure du début : {{ sortie.DateHeureDebut | date ("d/m/Y H:m") }}</p>
    <p>Date limite d'inscription : {{ sortie.DateLimiteInscription | date ("d/m/Y H:m") }}</p>
    <p>Nombre limite d'inscription : {{ sortie.NbInscriptionsMax }}</p>
    <p>Durée de la sortie : {{ sortie.duree }}</p>
    <p>Description : {{ sortie.InfosSortie }}</p>
    <p>Campus : {{ sortie.campus.nom }}</p>
    <p>Lieu : {{ sortie.lieu.nom }}</p>
    <p>Rue : {{ sortie.lieu.Rue }}</p>
    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
    <p>Latitude : {{ sortie.lieu.latitude }}</p>
    <p>Longitude : {{ sortie.lieu.longitude }}</p>
{% endblock %}

{% block title %}

{% endblock %}

