{% extends 'base.html.twig' %}
{% block title %}Créer une sortie{% endblock %}
{% block body %}
<form method="post" class="form" action="#">
    {{ form_start(sortieForm) }}
    <p class="title">Ajoutez-votre évènement!</p>
    {#    <p class="message">Dépechez-vous de vous inscire ! </p> #}
    <label>
        {{ form_row(sortieForm.nom) }}
    </label>
    <label>
        {{ form_row(sortieForm.dateHeureDebut) }}
    </label>
    <label>
        {{ form_row(sortieForm.duree) }}
    </label>
    <label>
        {{ form_row(sortieForm.dateLimiteInscription) }}
    </label>
    <label>
        {{ form_row(sortieForm.nbInscriptionsMax) }}
    </label>
    <label>
        {{ form_row(sortieForm.infosSortie) }}
    </label>
    <label>
        {{ form_row(sortieForm.ville) }}
    </label>
    <label>
        {{ form_row(sortieForm.lieu) }}
    </label>

    <div class="flex">
        <a href="{{ path('sortie_liste') }}">
            <button type="submit" class="submit">Ajoutez</button>
        </a>
{#        <a href="{{ path('/sortie_liste') }}"></a>#}
            <button class="submit">Retour</button>

    </div>
    {{ form_end(sortieForm) }}
    {#        {{ form_row(sortieform.image) }} #}
</form>

    <button role="button" data-target="#myModal" data-toggle="modal" id="ajout_lieu" tabindex="-1"  >Ajout Lieu</button>

    <div class="modal" id="myModal" role="dialog" aria-hidden="true">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-close" data-dismiss ="dialog"> X </div>
                <div class ="modal-header">Ajouter un lieu</div>
                <div class="modal-body" id="modal-body">
                    {{render(controller('App\\Controller\\LieuController::ajoutLieu')) }}
                </div>
                <div class="modal-footer">
                    <button role="button" class="btn btn-default" data-dismiss="dialog" id="fermer">Fermer</button>
                </div>
            </div>

    </div>
    <script src="{{ asset('script/ajax.js') }}"></script>
    <script src ="{{ asset('script/affichage_modal_lieu.js') }}"></script>
    <script src ="{{ asset('script/ajout_lieu.js') }}"></script>

    {% endblock %}

