{% extends 'base.html.twig' %}
{% block title %}Créer une sortie{% endblock %}
{% block body %}
<form method="post" class="form" action="#">
    {{ form_start(sortieForm) }}
    <p class="title">Ajoutez-votre évènement!</p>
    {#    <p class="message">Dépechez-vous de vous inscire ! </p> #}
    <label>
        {{ form_row(sortieForm.nom) }}
    </label>
    <label>
        {{ form_row(sortieForm.dateHeureDebut) }}
    </label>
    <label>
        {{ form_row(sortieForm.duree) }}
    </label>
    <label>
        {{ form_row(sortieForm.dateLimiteInscription) }}
    </label>
    <label>
        {{ form_row(sortieForm.nbInscriptionsMax) }}
    </label>
    <label>
        {{ form_row(sortieForm.infosSortie) }}
    </label>

    <label>
        {{ form_row(sortieForm.ville) }}<span> <button role="button" data-target="#myModal2" data-toggle="modal" id="ajout_ville" tabindex="-1" class="submit" >Ajout Ville</button></span>
    </label>
    <label>
        {{ form_row(sortieForm.lieu) }}<span><button role="button" data-target="#myModal" data-toggle="modal" id="ajout_lieu" tabindex="-1" class="submit" >Ajout Lieu</button></span>
    </label>
    
    <div class="flex">
            <button type="submit" class="submit">Ajouter</button>
        <a href="{{ path('sortie_liste') }}"><button type="button" class="submit">Retour</button></a>
    </div>
    {{ form_end(sortieForm) }}
    {#        {{ form_row(sortieform.image) }} #}
</form>

    <div class="modal" id="myModal" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-close" data-dismiss ="dialog"> X </div>
                <div class ="title" id="title_modal">Ajouter un lieu</div>
                <div class="form" id="modal_form">
                    <div class="modal-body" id="modal-body">
                        <p id="label"></p>
                        <p id="city"></p>
                        <p id="question"></p>
                        {{render(controller('App\\Controller\\LieuController::ajoutLieu')) }}

                        <label>
                            <input type="text" class="input2" id="rechercher" placeholder="Saisissez l'adresse du lieu">
                            <button class="submit" onclick="rechercherLieu()">Rechercher</button>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button role="button" class="submit" data-dismiss="dialog" id="fermer">Fermer</button>
                </div>
            </div>
    </div>

    <div class="modal" id="myModal2" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-close" data-dismiss ="dialog"> X </div>
            <div class ="title" id="title_modal">Ajouter une ville</div>
            <div class="form" id="modal_form">
                <div class="modal-body" id="modal-body">
                    <label>
                        <input type="text" role="combobox" id="rechercherVille" placeholder="Saisissez la ville" onkeyup="rechercherVille()"
                               aria-controls="listeVille" aria-expanded="false" aria-autocomplete="list" class="input2">
                    </label>
                    <br>
                    <label>
                        <select id="listeVille" role="listbox" class="input3" >
                            <option value="">Sélectionnez la ville correspondante à votre recherche</option>
                        </select>
                    </label>
                    {{render(controller('App\\Controller\\VilleController::ajoutVille')) }}
                </div>
            </div>
            <div class="modal-footer">
                <button role="button" class="submit" data-dismiss="dialog" id="fermer">Fermer</button>
            </div>

        </div>

    </div>
    <script src="{{ asset('script/ajax.js') }}"></script>
    <script src ="{{ asset('script/affichage_modal_lieu.js') }}"></script>
    <script src ="{{ asset('script/ajout_lieu.js') }}"></script>
    <script src ="{{ asset('script/rechercher_lieu_api.js') }}"></script>

    {% endblock %}

