{% extends 'base.html.twig' %}
{% block title %}Modifier la sortie{% endblock %}
{% block body %}
{# pour éviter la modification par user non organisateur    #}
    {% if sortie.organisateur == app.user %}
<form method="post" class="form" action="#">
    <h1 class="title">Modifier la sortie</h1>
        {{ form_start(sortieForm) }}

        <label>
            {{ form_row(sortieForm.nom) }}
        </label>
        <label>
            {{ form_row(sortieForm.dateHeureDebut) }}
        </label>
        <label>
            {{ form_row(sortieForm.duree) }}
        </label>
        <label>
            {{ form_row(sortieForm.dateLimiteInscription) }}
        </label>
        <label>
            {{ form_row(sortieForm.nbInscriptionsMax) }}
        </label>
        <label>
            {{ form_row(sortieForm.infosSortie) }}
        </label>
        <label>
            {{ form_row(sortieForm.ville,{ 'value' : ville.id }) }}
        </label>
        <label>
            {{ form_row(sortieForm.lieu) }}
        </label>
{#        <button class="submit">Modifier</button>#}
{#        {{ form_end(sortieForm) }}#}

<div class="flex">
    <button class="submit" type="submit">Modifier</button>
        {% if sortie.etat.id == 1 %}
            {{ form_end(sortieForm) }}
        {% endif %}
    {% endif %}


</div>
    </form>
    <a href="{{ path('sortie_publiersortie',{'sortie': sortie.id}) }}">
        <button class="submit">Publier la sortie</button>
    </a>
    <button class="submit" onclick="supprimer({{ sortie.id }})" >Supprimer la sortie</button>

    <script src="{{ asset('script/ajax.js') }}"></script>
    <script src="{{ asset('script/supprimer.js') }}"></script>
        {% endblock %}



