{% extends 'base.html.twig' %}
{% block title %}Modifier la sortie{% endblock %}
{% block body %}
{#pour éviter la modification par user non organisateur    #}
    {% if sortie.organisateur == app.user %}
<h1>Modifier la sortie</h1>
        {{ form_start(sortieForm) }}
        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.infosSortie) }}
        {{ form_row(sortieForm.ville,{ 'value' : ville.id }) }}
        {{ form_row(sortieForm.lieu) }}
        <button>Modifier</button>
        {{ form_end(sortieForm) }}

        {% if sortie.etat.id == 1 %}
            <button onclick="supprimer({{ sortie.id }})">Supprimer la sortie</button>
            <a href="{{ path('sortie_publiersortie',{'sortie': sortie.id}) }}"><button>Publier la sortie</button></a>

        {% endif %}
    {% endif %}

<script src="{{ asset('script/ajax.js') }}"></script>
<script src="{{ asset('script/supprimer.js') }}"></script>
{% endblock %}



