{% extends 'base.html.twig' %}
{% block title %}Modifier la sortie{% endblock %}
{% block body %}
{# pour éviter la modification par user non organisateur    #}
    {% if sortie.organisateur == app.user %}
<form method="post" class="form" action="#">
    <h1 class="title">Modifier la sortie</h1>
        {{ form_start(sortieForm) }}

        <label>
            {{ form_row(sortieForm.nom) }}
        </label>
        <label>
            {{ form_row(sortieForm.dateHeureDebut) }}
        </label>
        <label>
            {{ form_row(sortieForm.duree) }}
        </label>
        <label>
            {{ form_row(sortieForm.dateLimiteInscription) }}
        </label>
        <label>
            {{ form_row(sortieForm.nbInscriptionsMax) }}
        </label>
        <label>
            {{ form_row(sortieForm.infosSortie) }}
        </label>
        <label>
            {{ form_row(sortieForm.sortieImage) }}
        </label>
        <label>
            {{ form_row(sortieForm.ville,{ 'value' : ville.id }) }}
        </label>
        <label>
            {{ form_row(sortieForm.lieu) }}
        </label>
{#        <button class="submit">Modifier</button>#}
{#        {{ form_end(sortieForm) }}#}

<div class="flex">
    {{ form_end(sortieForm) }}

        {% if sortie.etat.id == constant('App\\Controller\\SortieController::CREEE') %}
            <button class="submit" type="submit">Modifier la sortie</button>
</div>
    </form>

    <a href="{{ path('sortie_publiersortie',{'sortie': sortie.id}) }}">
        <button class="submit" role="button">Publier la sortie</button>
    </a>
    <button role="button" data-target="#myModal3" data-toggle="modal" tabindex="-1" class="submit" >Supprimer la sortie</button>

    <div class="modal" id="myModal3" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-close" data-dismiss ="dialog"> X </div>
            <div class ="title" id="title_modal">Suppression ?</div>
            <div class="modal-body" id="modal-body">
                <p id="question_suppression">Voulez-vous vraiment supprimer cette sortie ?</p>
            </div>
            <div class="modal-footer">
                <a href="{{ path('sortie_supprimersortie',{'sortie':sortie.id}) }}"><button class="submit">Valider</button></a>
                <button role="button" class="submit" data-dismiss="dialog" id="fermer">Fermer</button>
            </div>
        </div>
    </div>
        {% endif %}
    {% endif %}
    <script src="{{ asset('script/ajax.js') }}"></script>
    <script src="{{ asset('script/affichage_modal_lieu.js') }}"></script>
        {% endblock %}



